<%- include('../partials/header.ejs')%>

<div class="center">
    <p>Select everything that you have any interest in!
        Press "Done" when you are finished!
    </p>
    <h1 id="pHeader"></h1>
    <br>

    <form id="preferences" action="/locations/ratings">
        <div class="row">
            <div class="column">
                <input type="checkbox" name="pref" value="ruins" id="ruins" style="display: none;"/>
                <label for="ruins"><img src="../images/ruins.jpg" class="checkboxImage"><br>Ruins</label>
            </div>
            
            <div class="column">
                <input type="checkbox" name="pref" value="ruins2" id="ruins2" style="display: none;"/>
                <label for="ruins2"><img src="../images/ruins.jpg" class="checkboxImage"><br>Ruins2</label>
            </div>
            
            <div class="column">
                <input type="checkbox" name="pref" value="ruins3" id="ruins3" style="display: none;"/>
                <label for="ruins3"><img src="../images/ruins.jpg" class="checkboxImage"><br>Ruins3</label>
            </div>

            <div class="column">
                <input type="checkbox" name="pref" value="ruins4" id="ruins4" style="display: none;"/>
                <label for="ruins4"><img src="../images/ruins.jpg" class="checkboxImage"><br>Ruins4</label>
            </div>

            <div class="column">
                <input type="checkbox" name="pref" value="ruins5" id="ruins5" style="display: none;"/>
                <label for="ruins5"><img src="../images/ruins.jpg" class="checkboxImage"><br>Ruins5</label>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <input type="checkbox" name="pref" value="ruins6" id="ruins6" style="display: none;"/>
                <label for="ruins6"><img src="../images/ruins.jpg" class="checkboxImage"><br>Ruins6</label>
            </div>
            
            <div class="column">
                <input type="checkbox" name="pref" value="ruins7" id="ruins7" style="display: none;"/>
                <label for="ruins7"><img src="../images/ruins.jpg" class="checkboxImage"><br>Ruins7</label>
            </div>
            
            <div class="column">
                <input type="checkbox" name="pref" value="ruins8" id="ruins8" style="display: none;"/>
                <label for="ruins8"><img src="../images/ruins.jpg" class="checkboxImage"><br>Ruins8</label>
            </div>

            <div class="column">
                <input type="checkbox" name="pref" value="ruins9" id="ruins9" style="display: none;"/>
                <label for="ruins9"><img src="../images/ruins.jpg" class="checkboxImage"><br>Ruins9</label>
            </div>

            <div class="column">
                <input type="checkbox" name="pref" value="ruins10" id="ruins10" style="display: none;"/>
                <label for="ruins10"><img src="../images/ruins.jpg" class="checkboxImage"><br>Ruins10</label>
            </div>
        </div>

        <input type="submit" value="Done" id="btn">
    </form>
</div>


<%- include('../partials/footer.ejs')%>