<%- include('../partials/header.ejs')%>

<div class="top">
    <script>
        window.onload = function hello() {
            let location = window.location.href;
            location = location.substring(location.indexOf("=") + 1, location.length);

            location = location.charAt(0).toUpperCase() + location.slice(1);
            
            let pHeader = document.getElementById("pHeader");
            pHeader.innerHTML = location + "'s Preferences";
        }
    </script>

    <h1 id="pHeader"></h1>
    
    <br>

    

    <form id="preferences" action="/locations/ratings">
        <div class="row">
            <div class="column">
                <input type="checkbox" id="ruins" style="display: none;" value = "on"/>
                <label for="ruins"><img src="../images/ruins.jpg" class="checkboxImage"><br>Ruins</label>
            </div>
            
            <div class="column">
                <input type="checkbox" id="ruins2" style="display: none;"/>
                <label for="ruins2"><img src="../images/ruins.jpg" class="checkboxImage"><br>Ruins</label>
            </div>
            
            <div class="column">
                <input type="checkbox" id="ruins3" style="display: none;"/>
                <label for="ruins3"><img src="../images/ruins.jpg" class="checkboxImage"><br>Ruins</label>
            </div>

            <div class="column">
                <input type="checkbox" id="ruins4" style="display: none;"/>
                <label for="ruins4"><img src="../images/ruins.jpg" class="checkboxImage"><br>Ruins</label>
            </div>

            <div class="column">
                <input type="checkbox" id="ruins5" style="display: none;"/>
                <label for="ruins5"><img src="../images/ruins.jpg" class="checkboxImage"><br>Ruins</label>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <input type="checkbox" id="ruins6" style="display: none;"/>
                <label for="ruins6"><img src="../images/ruins.jpg" class="checkboxImage"><br>Ruins</label>
            </div>
            
            <div class="column">
                <input type="checkbox" id="ruins7" style="display: none;"/>
                <label for="ruins7"><img src="../images/ruins.jpg" class="checkboxImage"><br>Ruins</label>
            </div>
            
            <div class="column">
                <input type="checkbox" id="ruins8" style="display: none;"/>
                <label for="ruins8"><img src="../images/ruins.jpg" class="checkboxImage"><br>Ruins</label>
            </div>

            <div class="column">
                <input type="checkbox" id="ruins9" style="display: none;"/>
                <label for="ruins9"><img src="../images/ruins.jpg" class="checkboxImage"><br>Ruins</label>
            </div>

            <div class="column">
                <input type="checkbox" id="ruins10" style="display: none;"/>
                <label for="ruins10"><img src="../images/ruins.jpg" class="checkboxImage"><br>Ruins</label>
            </div>
        </div>

        <input type="submit" value="Done" >
        
    </form>


    

</div>


<%- include('../partials/footer.ejs')%>