<%- include('../partials/header.ejs')%>

<div class="center">
    <p>Select everything that you have any interest in!
        Press "Done" when you are finished!
    </p>
    <h1 id="pHeader"></h1>
    <br>

    <form id="preferences" action="/locations/ratings">
        <div class="row">
            <div class="column">
                <input type="checkbox" id="ruins" value="Ruins" style="display: none;"/>
                <label for="ruins"><img src="../images/ruins.jpg" class="checkboxImage" ><br>Ruins</label>
            </div>
            
            <div class="column">
                <input type="checkbox" id="ocean" value="Ocean" style="display: none;"/>
                <label for="ocean"><img src="../images/ocean.jpg" class="checkboxImage"><br>Ocean</label>
            </div>
            
            <div class="column">
                <input type="checkbox" id="snorkel" value="Snorkel" style="display: none;"/>
                <label for="snorkel"><img src="../images/snorkel.jpg" class="checkboxImage"><br>Snorkeling</label>
            </div>

            <div class="column">
                <input type="checkbox" id="caves" value="Caves" style="display: none;"/>
                <label for="caves"><img src="../images/caves.jpg" class="checkboxImage"><br>Caves</label>
            </div>

            <div class="column">
                <input type="checkbox" id="fine" value="Fine Dining" style="display: none;"/>
                <label for="fine"><img src="../images/fine.jpg" class="checkboxImage"><br>Fine Dining</label>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <input type="checkbox" id="local" value="Local Food" style="display: none;"/>
                <label for="local"><img src="../images/local.jpg" class="checkboxImage"><br>Local Food</label>
            </div>
            
            <div class="column">
                <input type="checkbox" id="beaches" value="Beaches" style="display: none;"/>
                <label for="beaches"><img src="../images/beach.jpg" class="checkboxImage"><br>Beaches</label>
            </div>
            
            <div class="column">
                <input type="checkbox" id="museums" value="Museums" style="display: none;"/>
                <label for="museums"><img src="../images/museum.jpg" class="checkboxImage"><br>Museums</label>
            </div>

            <div class="column">
                <input type="checkbox" id="jungles" value="Jungles" style="display: none;"/>
                <label for="jungles"><img src="../images/jungle.jpg" class="checkboxImage"><br>Jungles</label>
            </div>

            <div class="column">
                <input type="checkbox" id="bird" value="Bird Watching" style="display: none;"/>
                <label for="bird"><img src="../images/bird.jpg" class="checkboxImage"><br>Bird Watching</label>
            </div>
        </div>

        <input type="submit" value="Done" id="btn">
    </form>
</div>


<%- include('../partials/footer.ejs')%>