<%- include('../partials/header.ejs') %>
<head>
    <style>
        h1 {text-align: center;}
        button{align}
    </style>
    <title>Rate your Preferences</title>
        <h1 id ="test">
            You choose what you liked! Now tell us how much you like them!
        </h1>
        
            <div class="row" id="row1">
                <div class="picture">
                    <input type="image" id="test" style="display: none;"/>
                    <label for="ruins"><img src="../images/ruins.jpg" class="checkboxImage" ><br>
                        <p class = "AttractionText">Rate Attraction</p>
                        <div class="stars">
                            <input type="radio" name="rating" value="1" />
                            <input type="radio" name="rating" value="2" />
                            <input type="radio" name="rating" value="3" />
                            <input type="radio" name="rating" value="4" />
                            <input type="radio" name="rating" value="5" />
                            <i></i>
                            </div>

                </div>
                <div class="picture">
                    <input type="image" id="test" style="display: none;"/>
                    <label for="ruins2"><img src="../images/ruins.jpg" class="checkboxImage"><br>   
                        <p class = "AttractionText">Rate Attraction</p>
                        <div class="stars">
                            <input type="radio" name="rating2" value="1" />
                            <input type="radio" name="rating2" value="2" />
                            <input type="radio" name="rating2" value="3" />
                            <input type="radio" name="rating2" value="4" />
                            <input type="radio" name="rating2" value="5" />
                            <i></i>
                            </div>                   
                </div>
                
                <div class="picture">
                    <input type="image" id="test" style="display: none;"/>
                    <label for="ruins3"><img src="../images/ruins.jpg" class="checkboxImage"><br>
                        <p class = "AttractionText">Rate Attraction</p>
                        <div class="stars">
                            <input type="radio" name="rating3" value="1" />
                            <input type="radio" name="rating3" value="2" />
                            <input type="radio" name="rating3" value="3" />
                            <input type="radio" name="rating3" value="4" />
                            <input type="radio" name="rating3" value="5" />
                            <i></i>
                            </div>              
                </div>
    
                <div class="picture">
                    <input type="image" id="test" style="display: none;"/>
                    <label for="ruins4"><img src="../images/ruins.jpg" class="checkboxImage"><br>
                        <p class = "AttractionText">Rate Attraction</p>
                        <div class="stars">
                            <input type="radio" name="rating4" value="1" />
                            <input type="radio" name="rating4" value="2" />
                            <input type="radio" name="rating4" value="3" />
                            <input type="radio" name="rating4" value="4" />
                            <input type="radio" name="rating4" value="5" />
                            <i></i>
                        </div>                   
                </div>
    
                <div class="picture">
                    <input type="image" id="test" style="display: none;"/>
                    <label for="ruins5"><img src="../images/ruins.jpg" class="checkboxImage"><br>
                        <p class = "AttractionText">Rate Attraction</p>
                        <div class="stars">
                            <input type="radio" name="rating5" value="1" />
                            <input type="radio" name="rating5" value="2" />
                            <input type="radio" name="rating5" value="3" />
                            <input type="radio" name="rating5" value="4" />
                            <input type="radio" name="rating5" value="5" />
                            <i></i>
                            </div>
            </div>
            
          
        </div>
        <div class = "center">
            <input type ="submit" value = "Next" id="button">
        </div>
</head>

<%- include('../partials/footer.ejs') %>
