<%- include('../partials/header.ejs') %>
<head>
    <title>Rate your Preferences</title>
    <body>
        <p id = "test"></p>
        <script>
            window.onloud = function getPref() {
                var x = document.getElementById("ruins").ariaChecked = true;
                document.getElementbyId("demo").innerHTML = x;
            }
        </script>
    </body>
</head>

<%- include('../partials/footer.ejs') %>
