<%- include('../partials/header.ejs') %>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.14.1/css/ol.css" type="text/css">

<body id="resultsBody">
    <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
    <div id="holder">

        <h1 id="resultsHeader">Your Personal Itinerary to </h1>
        <h2>Click Each Location To Find Out More Information</h2>

        <div id="leftSide">
            <div id="map"></div>
            <div id="popup" class="ol-popup" style="font-size: 10px; font-family: Verdana, Geneva, Tahoma, sans-serif;">
                <div id="popup-content"></div>
            </div>
            <input type="button" value="Download Itineray As PDF" id="download">
        </div>


        <div id="rightSide">
            <ul style="list-style: none">
                <li class="listExc"><img src="" class="resultsImg" ><b>First Attraction</b><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque posuere tincidunt condimentum. Aliquam ex tellus, dapibus ac lacus non, fringilla pretium urna. Fusce ut fermentum leo...</p></li>
                <li class="listExc"><img src="" class="resultsImg"><b>Second Attraction</b><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque posuere tincidunt condimentum. Aliquam ex tellus, dapibus ac lacus non, fringilla pretium urna. Fusce ut fermentum leo...</p></li>
                <li class="listExc"><img src="" class="resultsImg"><b>Third Attraction</b><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque posuere tincidunt condimentum. Aliquam ex tellus, dapibus ac lacus non, fringilla pretium urna. Fusce ut fermentum leo...</p></li>
                <li class="listExc"><img src="" class="resultsImg"><b>Fourth Attraction</b><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque posuere tincidunt condimentum. Aliquam ex tellus, dapibus ac lacus non, fringilla pretium urna. Fusce ut fermentum leo...</p></li>
                <li class="listExc"><img src="" class="resultsImg"><b>Fifth Attraction</b><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque posuere tincidunt condimentum. Aliquam ex tellus, dapibus ac lacus non, fringilla pretium urna. Fusce ut fermentum leo...</p></li>
            </ul>
        </div>


    </div>
    

    

</body>

<%- include('../partials/footer.ejs')%>
