 <!--%- include('../partials/header.ejs') %>
<h1>Excursions</h1>
<div>
<ul>
<%- locations.forEach(excursion => {%>
<li><a href="/locations/<%=excursion.id%>"><p><%= excursion.name%></p></a>
<%  %>
</ul>    



</div>

<%- include('../partials/footer.ejs')%> -->
