<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Xpedition</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    </head>
    <body>
        <nav>
            <a href="">Preferences</a>
            <span> | </span>
            <a href="">Results</a>
            <span> | </span>
            <a href="">Login</a>
            <span> | </span>
            <a href="">Logout</a>
        </nav>