<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Xpedition</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css"/>
        <script src="/javascript/script.js"></script>
    </head>
    <body>
        <nav>
            <a href="/"><img src="/images/logo.png" alt="logo" class="logo"></a><br>
            <a href="/locations/preferences" class="head">Preferences</a>
            <a href="/locations/locations" class="head">Results</a>
            <a href="/users/login" class="head">Login</a>
            <a href="/" class="head">Logout</a>
        </nav>