<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Xpedition</title>
        <link rel="stylesheet" href="../../public/css/userStyle.css">
    </head>
    <body>
        <nav>
            <a href="../location/choosePref.ejs">Preferences</a>
            <span> | </span>
            <a href="../location/results.ejs">Results</a>
            <span> | </span>
            <a href="../user/login.ejs">Login</a>
            <span> | </span>
            <a href="../index.ejs">Logout</a>
        </nav>