<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Xpedition</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    </head>
    <body>
        <nav>
            <a href="/locations/preferences">Preferences</a>
            <span> | </span>
            <a href="/locations/locations">Results</a>
            <span> | </span>
            <a href="/users/login">Login</a>
            <span> | </span>
            <a href="/">Logout</a>
        </nav>