<%- include('./partials/header.ejs')%>

<div class="top">
    <h1>Better Travel. Your Way.</h1>
    <p>Xpedition is a travel software that helps you plan your perfect trip based on your preferences and input.
        It's quick, easy, and best of all FREE!
        All you have to do to get started is pick one of our available locations and then click Get Started.
        You'll be asked to fill out a quick preference sheet, and then you'll rate your preferences for all the popular activities in that country.
        After that, we'll do the rest!
    </p>

    <form>
        <label for="location">- Select a Location -</label>
        <select name="location" id="location">
            <option value="belize">Belize</option>
            <option value="brazil">Brazil</option>
            <option value="england">England</option>
            <option value="italy">Italy</option>
            <option value="japan">Japan</option>
        </select>

        <input type="submit" value="Get Started">
    </form>
</div>

<div class="container">
    <div class="mid">
        <p>Do you want your itinerary saved, so you can come back it later without having to fill out the survey again?</p>
        <p>Feel free to create an account!
            Or you can click the log in button at the top of the page.
        </p>

        <button>Create An Account</button>

        <p>Do you like our product and want to support us?</p>
        <p>Now you can! You can join our Gofundme to become one of our supporters!</p>
    </div>

    <img src="./images/Beach_Vadim_Troshkin-3x5_b15cd0349508f65a0cb5118c3d83e84d.jpg" alt="beach waves" class="midImg">
</div>

<div class="container">
    <img src="./images/IMG_0330-1.jpg" alt="waterfall and lake with people sitting on rocks" class="botImg">

    <div class="bot">
        <p>Want your business to be a part of our state of the art algorithm?</p>
        <p>Have any suggestions to make our website better?</p>
        <p>Feel free to contact us!</p>
        <p>xpeditionapp@gmail.com</p>
    </div>
</div>

<%- include('./partials/footer.ejs')%>