.background {
    background: hsla(217, 44%, 35%, 1);
    background: linear-gradient(0deg, hsla(217, 44%, 35%, 1) 0%, hsla(186, 100%, 93%, 1) 100%);
    background: -moz-linear-gradient(0deg, hsla(217, 44%, 35%, 1) 0%, hsla(186, 100%, 93%, 1) 100%);
    background: -webkit-linear-gradient(0deg, hsla(217, 44%, 35%, 1) 0%, hsla(186, 100%, 93%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#325080", endColorstr="#D9FBFF", GradientType=1 );
}

body {
    font-family: "Verdana";
}

nav {
    text-align: right;
    background-color: #BBE8FF;
    padding: 2%;
}

footer {
    clear: both;
    background-color: #D3C098;
    padding: 2%;
}

nav a, footer a {
    text-decoration: none;
    font-size: 0.8em;
    color: black;
    margin: 1%;
}

.top, .mid, .bot {
    border-style: none;
    border-radius: 5%;
    box-shadow: 5px 10px 20px #797979;
    padding: 5%;
    text-align: center;
}

.top, .container {
    margin: 5% 10% 5% 10%;
}

.container {
    display: flex;
}

.mid, .midImg {
    width: 45%;
    float: left;
}

.mid {
    margin-right: 5%;
}

.bot, .botImg {
    width: 45%;
    float: left;
}

.botImg {
    margin-right: 5%;
}

.midImg, .botImg {
    border-style: none;
    border-radius: 5%;
    box-shadow: 5px 10px 20px #797979;
    width: 40%;
    height: auto;
}

.signUp{
    width: 300px;
    box-shadow: 0 0 3px 0;
    background: #ffff;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
}
