body {
    font-family: "Verdana";
    background-color: white;
}

nav {
    text-align: right;
    background-color: #BBE8FF;
    margin-left: -5%;
    height: 180px;
    width: 105.4%;
    margin-top: -.5%;
}

.head {
    color: black;
    text-align:right;
    text-decoration: none;
    padding: 1%;
    border-radius: 4px;
}

.head:hover {
    background-color: dodgerblue;
    color: white;
}

.logo {
    margin-right: 40%;
    height: 65%;
}

footer {
    clear: both;
    background-color: #D3C098;
    padding: 1%;
    position: fixed;
    margin-left: -1%;
    width: 100%;
    bottom: 0%;
}

footer a {
    text-decoration: none;
    font-size: 0.8em;
    color: black;
    margin: 1%;
}

button, input[type=submit] {
    background-color: #325080;
    border: none;
    color: white;
    padding: 1% 5% 1% 5%;
    border-radius: 25px;
}

input[type=submit]:disabled {
    background-color: #7F8794;
    border: none;
    color: white;
    padding: 1% 5% 1% 5%;
    border-radius: 25px;
}

select {
    padding: 1%;
    border-radius: 25px;
}

.top, .mid, .bot {
    border-style: none;
    border-radius: 25px;
    box-shadow: 5px 10px 20px #797979;
    padding: 5%;
    text-align: center;
}

.top, .container {
    margin: 5% 15% 5% 15%;
}

.container {
    display: flex;
}

#about .tex {
    font-size: large;
}

#about select {
    font-size: large;
}

#about #startBtn {
    font-size: large;
}

.mid, .midImg {
    width: 45%;
    float: left;
}

.mid {
    margin-right: 5%;
}

.bot, .botImg {
    width: 45%;
    float: left;
}

.botImg {
    margin-right: 5%;
}

.midImg, .botImg {
    border-style: none;
    border-radius: 25px;
    box-shadow: 5px 10px 20px #797979;
    width: 40%;
    height: auto;
}

h1 {
    font-size: xxx-large;
}

#support {
   padding-top: 5%;
}

#support .tex, #create{
    font-size: large;
}

#contact {
    padding-top: 5%;
}

#contact {
    font-size: large;
}

/*Preference page style start*/
.center {
    text-align: center;
    padding: 5%;
}

.checkboxImage {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.checkboxImage:hover {
    box-shadow: 5px 10px 20px #797979;
}

.row {
    display: flex;
    padding-bottom: 20px;
}

.column {
    flex: 33.33%;
    padding: 5px;
}



label {
    border: 1px solid #fff;
    display: block;
    position: relative;
    cursor: pointer;
  }
  
  label::before {
    background-color: white;
    color: white;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
  }
  
  label img {
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
  }
  
  :checked+label::before {
    content: "✓";
    background-color: green;
    transform: scale(1);
  }
  
  :checked+label img {
    transform: scale(0.9);
    box-shadow: 0 0 5px #333;
    z-index: 1;
  }
  /*Preference page style stop*/



  /*Login Page */
  
#login{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(../images/beach.jpg);
    background-size: cover;
    background-position: top;
}

.input-box{
    border-radius: 10px;
    padding: 10px;
    margin-top: 5%;
    margin-bottom: 1%;
    width: 100%;
    border: 1px solid #999;
    outline: none;
}

#logo {
    width: 250px;
    height: 150px;
    margin-bottom: 1%;
    margin-top: -2%;
}

.signIn {
    width: 500px;
    height: 350px;
    box-shadow: 0 0 3px 0;
    background: #ffff;
    padding: 2%;
    margin: 8% auto 0;
    text-align: center;
    border-radius: 25px;
}

.signUp-button {
    background-color: #325080;
    border: none;
    color: white;
    padding: 1% 5% 1% 5%;
    border-radius: 25px;
    margin-top: 4%;
    margin-bottom: 4%;
    width: 100%;
    height: 8%;
}

#link {
    margin-top: 20px;
}


/*Sign up page */

.error {
    text-decoration: underline;
}


#reg{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(../images/beach.jpg);
    background-size: cover;
    background-position: top;
}


.signUp {
    width: 500px;
    height: 600px;
    box-shadow: 0 0 3px 0;
    background: #ffff;
    padding: 2%;
    margin: 8% auto 0;
    text-align: center;
    border-radius: 25px;
}

#SignUpLogo {
    width: 250px;
    height: 150px;
    margin-bottom: 1%;
    margin-top: -2%;
}


#sign {
    margin-top: 20px;
}

/* stars stars */
.stars {
  --s:50px;
  position:relative;
  display:inline-flex;
}
.stars input {
  width:var(--s);
  height:var(--s);
  margin:0;
  opacity:0;
  cursor:pointer;
}
.stars i {
  position:absolute;
  inset:0 0 calc(var(--s)*0.1);
  pointer-events:none;
  --v1:transparent,#000 0.5deg 108deg,#0000 109deg;
  --v2:transparent,#000 0.5deg  36deg,#0000  37deg;
  -webkit-mask:
    conic-gradient(from 54deg  at calc(var(--s)*0.68) calc(var(--s)*0.57),var(--v1)),
    conic-gradient(from 90deg  at calc(var(--s)*0.02) calc(var(--s)*0.35),var(--v2)),
    conic-gradient(from 126deg at calc(var(--s)*0.5)  calc(var(--s)*0.7) ,var(--v1)),
    conic-gradient(from 162deg at calc(var(--s)*0.5)  0                  ,var(--v2));
  -webkit-mask-size: var(--s) var(--s);
  -webkit-mask-composite: xor,destination-over;
  mask-composite: exclude,add;
  background:
    linear-gradient(rgba(255,0,0,var(--o,0.3)) 0 0),  
    linear-gradient(gold                       0 0)
    #ccc;
  background-size:calc(var(--l,0)*var(--s)) 100%,calc(var(--p,0)*var(--s)) 100%;
  background-repeat:no-repeat;
}

.stars:focus-within {
  outline:1px solid;
}

input:active ~ i{--o:1}

input:nth-of-type(1):checked ~ i {--p:1}
input:nth-of-type(2):checked ~ i {--p:2}
input:nth-of-type(3):checked ~ i {--p:3}
input:nth-of-type(4):checked ~ i {--p:4}
input:nth-of-type(5):checked ~ i {--p:5}
input:nth-of-type(6):checked ~ i {--p:6}
input:nth-of-type(7):checked ~ i {--p:7}
input:nth-of-type(8):checked ~ i {--p:8}
input:nth-of-type(9):checked ~ i {--p:9}
input:nth-of-type(10):checked ~ i {--p:10}
/*input:nth-of-type(N):checked ~ i {--p:N}*/

input:nth-of-type(1):hover ~ i {--l:1}
input:nth-of-type(2):hover ~ i {--l:2}
input:nth-of-type(3):hover ~ i {--l:3}
input:nth-of-type(4):hover ~ i {--l:4}
input:nth-of-type(5):hover ~ i {--l:5}
input:nth-of-type(6):hover ~ i {--l:6}
input:nth-of-type(7):hover ~ i {--l:7}
input:nth-of-type(8):hover ~ i {--l:8}
input:nth-of-type(9):hover ~ i {--l:9}
input:nth-of-type(10):hover ~ i {--l:10}
/*input:nth-of-type(N):hover ~ i {--l:N}*/

/* rate pref pictures stuffs 
.picture 
{
    padding: 3.2%
}

.picture img
{
    margin-left: 20%;
}
.AttractionText
{
    margin-left: 25%
}
*/

.columnRate {
    width: 250px;
    height: auto;
    padding: 10px;
    margin: 10px;
    display: inline-block;
}

.columnRate p {
    text-align: center;
}

.columnRate img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#row1, #row2 {
    text-align: center;
    width: 100%;
}

.rowRate {
    padding-bottom: 20px;
}

/*  Results page */
#holder {
    height: 1000px;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    font-family: Verdana;
}

#holder h1, h2 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Verdana;
}

#holder h1 {
    padding-top: 50px;
}

#holder h2 {
    margin-bottom: 50px;
}


#leftSide {
    width: 35%;
    height: 80%;
    float: left;
}

#rightSide {
    border-style: none;
    border-radius: 25px;
    box-shadow: 5px 10px 20px #797979;
    width: 50%;
    float: right;
    min-height: 100px;
    overflow: hidden;
    margin-bottom: 125px;
}

#map {
    border-style: none;
    border-radius: 25px;
    box-shadow: 5px 10px 20px #797979;
    width: 80%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-color: white;
}

#download {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: block;
    border: none;
    border-radius: 25px;
    color: black;
    background-color: lightblue;
    height: 50px;
    width: 250px;
    font-family: Verdana;
}

.resultsImg {
    height: 75px;
    width: 75px;
    vertical-align: middle;
    padding: 10px;
}

#resultsBody {
    margin-bottom: 100px;
}

ul {
    padding-right: 20px;
    padding-left: 20px;
}

.resultsImg {
    border-radius: 25px;
}




/* Details page styling */

#detailsDiv {
    height: 800px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    font-family: Verdana;
    border-style: none;
    border-radius: 25px;
    box-shadow: 5px 10px 20px #797979;
    overflow: visible;
    align-items: center;
}

#detailsDiv h1 {
    text-align: center;
    margin-top: 50px;
    padding-top: 50px;
}

#detailsContent {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 90%;
    display: flex;
}

#detailsImg {
    flex: left;
    width: 400px;
    height: 400px;
    padding: 50px;
}

#detailsContent p {
    width: auto;
}

#detailsContent h2 {
    text-align: left;
}

#websiteBtn {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
    border-radius: 25px;
    color: black;
    background-color: lightblue;
    height: 50px;
    width: 250px;
    font-family: Verdana;
}


.error {
    background: rgba(255, 102, 51, 0.7);
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 10px 10px;
}

.success {
    background: rgba(108, 192, 112, 0.7);
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 10px 10px;
}


.profile {
    background-color: lightblue;
    margin: 5% 10% 10% 10%;
    padding: 1% 1% 1% 1%;
    border-style:solid;
    border-radius: 25px;
    border-color: black;
    border-width: .5px;
    box-shadow: 5px 10px 20px #797979;
}

.profileTxt {
    font-size: large;
    text-align: center;
    padding-left: 5% 5% 5% 5%;
}

.schedules {
    text-align: center;
    list-style-position: inside;
    padding: 1% 5% 5% 5%;
   

}

.schedules li{
    text-align: left;
    list-style-type: circle;
    margin-left: 40%;
}

.schedules a{
    box-shadow: inset 0 0 0 0 grey;
  color: black;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .7s ease-in-out;
  text-decoration: none;
  font-size: larger;
 
}

.schedules a:hover {
    box-shadow: inset 400px 0 0 0 orange;
  color: black;
}

.schedules h2 {
    text-align: left;
    margin-left: 42%;
}
