<%- include('./partials/header.ejs')%>

<div class="signUp">
<h1>Sign up</h1>
<form>
    <input type="first name" class="input-box" placeholder="First name">
    <input type="last name" class="input-box" placeholder="Last name">
    <input type="email" class="input-box" placeholder="Email">
    <input type="password" class="input-box" placeholder="Password">
</form>
</div>



<%- include('./partials/footer.ejs')%>