<!-- <%- include('./partials/header.ejs')%> -->
<!DOCTYPE html>
<html>
<head>
<title>Create Account page</title>
<link rel="stylesheet" href="userStyle.css">
</head>

<body>
<div class="signUp">
    <h1>Sign up</h1>
    <form action="/action_page.php">
        <input type="Fname" class="input-box" placeholder="First Name">
        <input type="Lname" class="input-box" placeholder="Last Name">
        <input type="email" class="input-box" placeholder="Email">
        <input type="password" class="input-box" placeholder="Password">
        <button type="button" class="signUp-button">Create Account</button>
        <p>Have an account? <a href="#">Sign in</a></p>
    </form>
</div>
</body>

</html> 



<!-- <%- include('./partials/footer.ejs')%> -->