
<link rel="stylesheet" type="text/css" href="../../css/style.css"/>

<head>
<title>Create Account page</title>

</head>

<body id="reg">
<div class="signUp">

    <form action="/action_page.php">
        <img src="../../images/logo.png" id="SignUpLogo">
        <input type="Fname" class="input-box" placeholder="First Name">
        <input type="Lname" class="input-box" placeholder="Last Name">
        <input type="email" class="input-box" placeholder="Email">
        <input type="password" class="input-box" placeholder="Password">
        <button type="button" class="signUp-button">Create Account</button>
        <p>Have an account? <a href="../login">Sign in</a></p>
    </form>
</div>
</body>

</html> 


