
<link rel="stylesheet" type="text/css" href="../../css/style.css"/>

<head>
<title>Create Account page</title>

</head>

<body id="reg">
<div class="signUp">

    <form action="/users" method="POST">
        <a href="/"><img src="../../images/logo.png" id="SignUpLogo"></a>
        <input type="text" name="FNAME" class="input-box" placeholder="First Name">
        <input type="text" name="LNAME" class="input-box" placeholder="Last Name">
        <input type="email" name="EMAIL" class="input-box" placeholder="Email">
        <input type="password" name="PASS" class="input-box" placeholder="Password">
        <!--<input type="password" class="input-box" placeholder="Confirm Password">-->
        <button class="signUp-button">Create Account</button>
        <p id="sign">Have an account? <a href="../users/login" >Sign in</a></p>
    </form>
</div>
</body>

</html> 


