
<link rel="stylesheet" type="text/css" href="../../css/style.css"/>

<head>
<title>Sign In page</title>
</head>

<body id="login">
<div class="signIn">
    <form action="/action_page.php">
        <img src="../../images/logo.png" id="logo">
        <input type="email" class="input-box" placeholder="Email">
        <input type="password" class="input-box" placeholder="Password">
        <button type="button" class="signUp-button">Sign In</button> <br>
        <a href="/users/new" id="link">Create an Account</a>
    </form>
</div>
</body>

