<link rel="stylesheet" href="../../css/userStyle.css">
<link rel="stylesheet" type="text/css" href="/css/style.css"/>

<head>
<title>Sign In page</title>
</head>

<body class="f">
<div class="signUp">
    <h1>Sign in</h1>
    <form action="/action_page.php">
        <input type="email" class="input-box" placeholder="Email">
        <input type="password" class="input-box" placeholder="Password">
        <button onClick="location.href='https://www.google.com'" type="button" class="signUp-button">Sign In</button>
    </form>
</div>
</body>

