<%- include('../partials/header.ejs')%>
<div class = "profile">
    <h2>Welcome, <%= user.firstName%></h2>
    <p class="profileTxt">Hello and thank you for registering for an account with us here at Xpedition, we want to make planning a vacation fun occasion not a stressful one.</p>
    <p class="profileTxt">Below are some of the iteneraries you have created.</p>
    <ul class="schedules">
    <li>Placeholder items</li>
    </ul>
    </div>
    <%- include('../partials/footer.ejs')%>
